@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Shadows+Into+Light&display=swap');
*{
  font-family: 'Rajdhani', sans-serif;}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .card-columns {
    display: flex;
  }

  .hoods{
    margin-left: 25px;
  }

  .nav-link{
    color: floralwhite;
  }